target/
/nbproject
.idea
*.iml
.project
/glassfish-runner/batch-tck/apitests/test.properties
/glassfish-runner/batch-tck/sigtests/test.properties
.classpath
.factorypath
.settings/
.m2/
el/bundle
jakartaeetck-bundles/
/tck-env.cfg
.DS_Store
wip-find.txt
*.class
tstest.jte
/**/.flattened-pom.xml
