<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<web-app xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4">
  <display-name>W2JRLR0007TestServiceTestApp</display-name>
  <filter>
    <filter-name>Filter</filter-name>
    <filter-class>com.sun.ts.tests.jaxrpc.wsi.w2j.rpc.literal.R0007.ClaimCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <servlet-name>XmlServletName2</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>XmlServletName1</servlet-name>
    <servlet-class>com.sun.ts.tests.jaxrpc.wsi.w2j.rpc.literal.R0007.W2JRLR0007TestOneImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>XmlServletName2</servlet-name>
    <servlet-class>com.sun.ts.tests.jaxrpc.wsi.w2j.rpc.literal.R0007.W2JRLR0007TestTwoImpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlServletName1</servlet-name>
    <url-pattern>/ws4ee_1/W2JRLR0007Test/one</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XmlServletName2</servlet-name>
    <url-pattern>/ws4ee_1/W2JRLR0007Test/two</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>54</session-timeout>
  </session-config>
</web-app>
