/*
 * Copyright (c) 2007, 2018 Oracle and/or its affiliates. All rights reserved.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0, which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * This Source Code may also be made available under the following Secondary
 * Licenses when the conditions for such availability set forth in the
 * Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
 * version 2 with the GNU Classpath Exception, which is available at
 * https://www.gnu.org/software/classpath/license.html.
 *
 * SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
 */

/*
 * $Id: TestServlet.java 58962 2009-08-06 15:09:52Z cf126330 $
 */

package com.sun.ts.tests.ejb30.misc.datasource.twowars;

import java.io.IOException;
import java.sql.Connection;

import javax.annotation.sql.DataSourceDefinition;
import javax.annotation.sql.DataSourceDefinitions;
import javax.ejb.EJB;
import javax.servlet.ServletException;
import javax.servlet.annotation.WebServlet;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;

import com.sun.ts.tests.ejb30.assembly.appres.common.AppResRemoteIF;
import com.sun.ts.tests.ejb30.assembly.appres.common.TestServletBase;
import com.sun.ts.tests.ejb30.common.helper.Helper;
import com.sun.ts.tests.ejb30.common.helper.ServiceLocator;
import com.sun.ts.tests.ejb30.lite.packaging.war.datasource.common.DataSourceTest;

@WebServlet(urlPatterns = "/TestServlet", loadOnStartup = 1)

@DataSourceDefinitions({
    @DataSourceDefinition(name="java:comp/env/compdsservlet",
            className="@className@",
            portNumber=@portNumber@,
            serverName="@serverName@",
            databaseName="@databaseName@",
            user="@user@",
            password="@password@",
            
            description="ds1",
            initialPoolSize=1,
            
            loginTimeout=300,
            maxIdleTime=1000,
            maxPoolSize=2,
            minPoolSize=1,
            transactional=false,
            properties={@jdbc.datasource.props@},
            url="jdbc:derby://${derby.server}:${derby.port}/${derby.dbName};create=true"
    ),
    @DataSourceDefinition(name="defaultdsservlet",
            className="@className@",
            portNumber=@portNumber@,
            serverName="@serverName@",
            databaseName="@databaseName@",
            user="@user@",
            password="@password@",
            properties={@jdbc.datasource.props@}),
            
    @DataSourceDefinition(name="java:module/env/moduledsservlet",
            className="@className@",
            portNumber=@portNumber@,
            serverName="@serverName@",
            databaseName="@databaseName@",
            user="@user@",
            password="@password@",
            properties={@jdbc.datasource.props@},
            isolationLevel=Connection.TRANSACTION_SERIALIZABLE),
            
    @DataSourceDefinition(name="java:app/env/servlet/appds",
            className="@className@",
            portNumber=@portNumber@,
            serverName="@serverName@",
            databaseName="@databaseName@",
            user="@user@",
            password="@password@",
            properties={@jdbc.datasource.props@}),
            
    @DataSourceDefinition(name="java:global/env/ts/datasource/servlet/globalds",
            className="@className@",
            portNumber=@portNumber@,
            serverName="@serverName@",
            databaseName="@databaseName@",
            user="@user@",
            password="@password@",
            properties={@jdbc.datasource.props@})
    })

public class TestServlet extends TestServletBase {

    @EJB(beanName="DataSourceBean")
    private AppResRemoteIF dataSourceBean;
    
    private void nonPostConstruct() {
        postConstructRecords = new StringBuilder();
        ServiceLocator.lookupShouldFail("java:app/env/servlet2/appds", getPostConstructRecords());
        Helper.getLogger().info(getPostConstructRecords().toString());
        
        DataSourceTest.verifyDataSource(postConstructRecords, false, 
                //"java:app/datasource/twowars/ejb/appds",
                //"java:global/env/ts/datasource/servlet2/globalds",
                
                "java:comp/env/compdsservlet",
                "java:comp/env/defaultdsservlet",
                "java:module/env/moduledsservlet",
                "java:app/env/servlet/appds",
                "java:global/env/ts/datasource/servlet/globalds"
                );
    }

    public void servletPostConstruct(HttpServletRequest request, HttpServletResponse response)
            throws ServletException, IOException {
        nonPostConstruct();
        verifyRecords(request, response, postConstructRecords);
    }


    public void ejbPostConstruct(HttpServletRequest request, HttpServletResponse response)
            throws ServletException, IOException {
        verifyRecords(request, response, dataSourceBean.getPostConstructRecords());
    }
}
